* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
    --secondary-color: #2B2E34;
    --primary-color: #212227;
    --text-primary-color:white;
    --accent-color: orange;
}
body {
    color: white;
	background-color: #2B2E34;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-article__header {
	position: center;
}
a{
    text-decoration: none;
    list-style: none;
    margin:0 100px;
    color: white;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
img{
    width: 250px;
    margin: 0 25px;
}
