body{
    background-color: bisque;
    font-family: 'Nabla', cursive;

}
h1{
    color: red;
    /* font-family: 'Nabla', cursive; */

}

h2{
    color: orange;
}

h3{
    color: yellow;
}

h4{
    color: green;
}

h5{
    color: teal
}

h6{
    color: blue;
}
p{
    color: violet
}

.p-big{
    font-size: 48px;
}

.p-fat{
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: 10px solid salmon;
}

.red-box{
    background-color: aquamarine;
}

.btn{
    background-color: blueviolet;
    color: white;
    border: none;
}

.parent-red-element{
    background-color: red;
    width: 500px;
    height: 500px;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}
.child-green-element{
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    margin-bottom: 10em;
    /* margin-top: 160px; */

}

.child-yellow-element{
    background-color: yellow;
    width: 150px;
    height: 150px;
    margin-left: 10em;
    margin-right: 10em;
}