.App {
  text-align: center;
  background-color: brown;
}

*{
  margin: 0;
  padding: 0;
}

button{
  background-color: transparent;
  border: none;
}

header{
  color: white;
  font-size: 3em;
}

main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

img{
  width: 15vw;
}

.default_button{
  background-color: navy;
  margin: 1em;
  border: none;
  padding: 2em;
  color: white;
  font-size: 2em;
}